.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

UIElementsSchema/
*.csproj
/Library/
/Temp/

*/Temp/
*/TestResults/

*/.svn/
.svn/
bin/
Bin/
obj/
_ReSharper.CSharp/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/Unity/Library
/Unity/CSharp60Support/compilation log.txt
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
/Log
/Temp
/Logs
/Unity/CSharp60Support/compilation.log
/.vs
/Server/.vs/
/Unity/.vs/
/Tools/MongoDB
/Excel/md5.txt
/Release
.idea/
/Unity/Logs
/Unity/Assets/StreamingAssets/
/netcoreapp2.0
/Unity/Assets/StreamingAssets.meta
.DS_Store
Server/.DS_Store
/Server/.vscode/
.vs/
.objs/
/Unity/.gradle
/*.user
/ToolsApp/
/Unity/Unity.Editor.csproj
/Unity/Assets/Bundles/Code/Code.dll.bytes
/Unity/Assets/Bundles/Code/Code.dll.bytes.meta
/Unity/Assets/Bundles/Code/Code.pdb.bytes
/Unity/Assets/Bundles/Code/Code.pdb.bytes.meta
/Unity/Assembly-CSharp.csproj
/Excel/~$*.xlsx


#过滤数据库文件、sln解决方案文件、配置文件  
*.mdb
*.ldb
*.config

# unity files #  
######################
*.csproj
*.sln


#过滤数据库文件、sln解决方案文件、配置文件  
*.mdb
*.ldb
 
#过滤文件夹Debug,Release,obj  
Debug/
Release/
obj/
Bin/
.vscode/

# unity files #  
######################
Library/
Packages/*
!Packages/manifest.json
!Packages/packages-lock.json
ResLibrary/
Temp/
ResLibrary.meta

# Packages #  
############  
# it's better to unpack these files and commit the raw source  
# git has its own built in compression methods  
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
  
# Logs and databases #  
######################  
Logs/
*.log
*.sql
*.sqlite
  
# OS generated files #  
######################  
.DS_Store
.DS_Store?
._*
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Unity/.vs
Unity/.vsconfig
UserSettings
CustomCloudAssets
